{% extends "base.html" %}

{% block contenido %} 
<body>
    <div class="container">
        <div class="form-container sign-in-container">
            <form action="" method="POST" novalidate>
                {{ form.hidden_tag() }} 
                <h1>Recuperar contraseña</h1>
                <p>Ingrese su correo electrónico para recibir una nueva contraseña.</p>
                <div class="row mb-3">
                    <label for="txtCorreo" class="col-sm-4 form-label">Correo Electrónico:</label>
                    <div class="col-sm-6">
                        {{form.correo(class="form-control",id="txtCorreo",placeholder="ejemplo@ejemplo.com")}}
                        {% for error in form.correo.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                {{form.enviar(class="btn btn-outline-success" ,id="btnRecuperar")}}
            </form>
            <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Información.</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Se ha enviado su contraseña al correo (correo). Por favor verifique.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
{% endblock %}
